<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">Alterar Email:</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Alterar Senha:</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <br>
  <center><section>
    <ion-button color="success">Alterar</ion-button>
    <ion-button color="danger">Excluir Conta</ion-button>
  </section></center>
</ion-content>
