<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">Alterar Email:</ion-label>
    <ion-input type="email" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Alterar Senha:</ion-label>
    <ion-input type="password" required></ion-input>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="warning" routerLink="/reminder/create" routerDirection="forward" data-desc="ALTERAR">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" routerLink="/reminder/create" routerDirection="forward" data-desc="DELETAR CONTA">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
