<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Embarcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">Descrição:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  
  <ion-item lines="full">
      <ion-label position="floating">Firmware:</ion-label>
      <ion-input type="text" required></ion-input>
  </ion-item>
  
  
  <ion-item lines="full">
    <ion-label position="floating">Status:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Modo de Comunicação:</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="estacao">Estação</ion-select-option>
      <ion-select-option value="cliente">Cliente </ion-select-option>
      <ion-select-option value="roteador">Roteador</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Ip:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Ip do Gateway:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Porta:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Lista de Topicos do servidor MQTT:</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="estacao">Estação</ion-select-option>
      <ion-select-option value="cliente">Cliente </ion-select-option>
      <ion-select-option value="roteador">Roteador</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary" class="">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" routerLink="/contacts/create" routerDirection="forward" data-desc="ADICIONAR">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" routerLink="/reminder/create" routerDirection="forward" data-desc="ALTERAR">
        <ion-icon name="sync"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" routerLink="/reminder/create" routerDirection="forward" data-desc="REMOVER">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
