<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Embarcado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label position="floating">Descrição:</ion-label>
    <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Firmware:</ion-label>
      <ion-input type="text" required></ion-input>
  </ion-item>
  
  <ion-content>
    <ion-item lines="full">
      <ion-label position="floating">Status:</ion-label>
      <ion-input type="text" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Modo de Comunicação:</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="estacao">Estação</ion-select-option>
      <ion-select-option value="cliente">Cliente </ion-select-option>
      <ion-select-option value="roteador">Roteador</ion-select-option>
    </ion-select>
  </ion-item>

  <br>

  <center><section>
    <ion-button color="success">Cadastrar</ion-button>
    <ion-button color="warning">Alterar</ion-button>
    <ion-button color="danger">Remover</ion-button>
  </section></center>

</ion-content>
