<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div id="container">
  <form [formGroup]='authForm' (submit)='clickLogin(provider.Email)'>
    
    <!-- SE ESTIVER LOGADO ACESSA O CONTAINER -->
    <ng-container *ngIf='!configs.isSignIn'>
      <!-- NOME -->
      <ion-item lines="full">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text" formControlName='name'></ion-input>
        <ion-note slot='end' *ngIf="name.dirty && name.hasError('requerid')">Required</ion-note>
        <ion-note slot='end' *ngIf="name.dirty && name.hasError('minlength')">Mínimo 3 caracteres!</ion-note>
      </ion-item>

    </ng-container>

    <!-- E-MAIL -->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName='email'></ion-input>
      <ion-note slot='end' *ngIf="email.dirty && email.hasError('requerid')">Required</ion-note>
      <ion-note slot='end' *ngIf="email.dirty && email.hasError('email')">E-mail no formato Invalido</ion-note>
    </ion-item>

    <!-- SENHA -->
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName='password'></ion-input>
      <ion-note slot='end' *ngIf="password.dirty && password.hasError('requerid')">Required</ion-note>
      <ion-note slot='end' *ngIf="password.dirty && password.hasError('minlength')">Mínimo 6 caracteres!</ion-note>
    </ion-item>
    <br>
   
      <ion-grid>
        <ion-row>
          <ion-col align-self-center>

            <!-- SIGN UP-->
            <div *ngIf='!configs.isSignIn'>
              <!-- BUTTON FAZER CADASTRO -->
              <ion-button (click)="changeAuthAction()" expand="block" color="danger">CADASTRAR</ion-button><br>
            </div>

            <!-- BUTTON FAZER LOGIN FACEBOOK -->
            <ion-button (click)="clickLogin(provider.Facebook)" type="submit" color="primary" expand="block" [hidden]='!configs.isSignIn'>
              <ion-icon name="logo-facebook"></ion-icon>&nbsp;&nbsp;
                Login com Facebook
            </ion-button><br>

            <!-- BUTTON LOGIN E-MAIL -->
            <ion-button [disabled]='authForm.invalid' (click)="clickLogin(provider.Email)" type="submit" expand="block" color="primary" [hidden]='!configs.isSignIn' >Entrar com e-mail</ion-button><br>

            <!-- ESQUECEU A SENHA -->
            <div class="container bottom ion-text-center" [routerLink]="['/recuperacao-de-senha']" class="container bottom ion-text-center" [hidden]='!configs.isSignIn'>
              <a>Esqueceu a senha?</a>
            </div><br>

            <span class="divider line one-line" [hidden]='!configs.isSignIn' >Ainda não tem cadastro?</span>

            <!-- BUTTON INSCREVA-SE -->
            <ion-button [hidden]='!configs.isSignIn'  (click)="changeAuthAction()" expand="block" color="danger">INSCREVA-SE</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

  </form>
</div>
</ion-content>