<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <form [formGroup]='authForm' (submit)='clickLogin()'>
    <!-- E-MAIL-->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName='email'></ion-input>
      <ion-note slot='end' *ngIf="email.dirty && email.hasError('requerid')">Required</ion-note>
      <ion-note slot='end' *ngIf="email.dirty && email.hasError('email')">E-mail no formato Invalido</ion-note>
    </ion-item>

    <!-- SENHA -->
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName='password'></ion-input>
      <ion-note slot='end' *ngIf="password.dirty && password.hasError('requerid')">Required</ion-note>
      <ion-note slot='end' *ngIf="password.dirty && password.hasError('minlength')">Mínimo 6 caracteres!</ion-note>
    </ion-item>
    <br>
    
    <ion-row>
      <ion-col>

        <!-- BUTTON FAZER LOGIN -->
        <ion-button [disabled]='authForm.invalid' [routerLink]="['/home']" type="submit" color="primary" expand="block" >LOGIN</ion-button><br>
            
        <!-- BUTTON ESQUECEU A SENHA -->
        <center><a [routerLink]="['/recuperacao-de-senha']" class="small-text">Esqueceu a senha?</a></center>

        <span class="divider line one-line">Ainda não tem cadastro?</span><br>

        <!-- BUTTON FAZER CADASTRO -->
        <ion-button [routerLink]="['/registro']" expand="block" color="danger">REGISTRAR</ion-button>

      </ion-col>
    </ion-row>

  </form>
</div>
</ion-content>